@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle d-inline-flex align-items-center gap-1" href="#"
           id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user"></i>
            <span>@UserManager.GetUserName(User)</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
            <li>
                <form asp-controller="Account" asp-action="LogOff" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="dropdown-item">ログアウト</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Account" asp-action="Register">新規登録</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-controller="Account" asp-action="Login">ログイン</a>
    </li>
}
